#wrap {
  width: 100%;
  height: 100%;
}

#wrap .mainframe {
  position: absolute;
  width: 1740px;
  height: 1024px;
  left: 50%;
  top: 50%;
  margin-left: -870px;
  margin-top: -512px;
  background-image: url(./img/mainboard.png);
}

.stdframe {
  position: absolute;
  width: 316px;
  height: 244px;
  left: 20px;
  top: 40px;

  background: #CEC1A9;
  border-radius: 10px;
}

.stdframe .name {
  position: absolute;
  width: 77.05px;
  height: 25.68px;
  left: 8.99px;
  top: 168.23px;
  z-index: 3;
  /*이름은 사람들 얼굴보다 위에 존재해야함.*/
  background: #090000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.stdframe .hand{
  position: absolute;
  display: none;
  z-index: 3;
  left: 17px;
  top: 17px;

}

.stdframe .heart {
  position: absolute;
  /*left: 6.46%;
  right: 6.45%;*/
  top: 204.19px;
  left: 11.56px;
}

.stdframe .healthbar {
  position: absolute;
  width: 231.16px;
  height: 32.11px;
  left: 41.1px;
  top: 200.34px;

  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.stdframe .changehealthbar {
  position: absolute;
  width: 184px;
  height: 32.11px;
  /* left: 41.1px;
  top: 200.34px; */

  background: #00CA08;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.stdframe .healthbarword {
  position: absolute;
  width: 188.78px;
  height: 19.26px;
  left: 61.64px;
  top: 206.76px;

  font-family: Roboto;
  font-style: bold;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;
}

.classboard {
  position: absolute;
  width: 870px;
  height: 558px;
  left: 285px;
  top: 290px;
  border-radius: 5px;
}


#videos video:nth-child(1) {
  position: absolute;
  width: 295.37px;
  height: 183.64px;
  left: 35.99px;
  top: 37.27px;
  object-fit: fill;
  border-radius: 10px;
}

#videos video:nth-child(2) {
  position: absolute;
  width: 295.37px;
  height: 183.64px;
  left: 372px;
  top: 37.27px;
  object-fit: fill;
  border-radius: 10px;
}

#videos video:nth-child(3) {
  position: absolute;
  width: 295.37px;
  height: 183.64px;
  left: 708.92px;
  top: 37.27px;
  object-fit: fill;
  border-radius: 10px;
}

#videos video:nth-child(4) {
  position: absolute;
  width: 295.37px;
  height: 183.64px;
  left: 1044.09px;
  top: 37.27px;
  object-fit: fill;
  border-radius: 10px;
}

.footnav {
  position: absolute;
  width: 350px;
  height: 59.26px;
  left: 555px;
  top: 913px;

  background: #15C2B2;
  border-radius: 100px;
}

.footnav .firstoption {
  position: absolute;
  top: 14px;
  left: 34px;
  cursor: pointer;
}

.footnav .secondoption {
  position: absolute;
  top: 10px;
  left: 115px;
  cursor: pointer;
}

.footnav .thirdoption {
  position: absolute;
  top: 8px;
  left: 196.8px;
  cursor: pointer;
}

.footnav .fourthoption {
  position: absolute;
  top: 9.5px;
  left: 280px;
  cursor: pointer;
}


.footnav .fifthoption {
  position: absolute;
  top: 9.5px;
  left: 365px;
  cursor: pointer;
}

.mypage {
  position: absolute;
  width: 96px;
  height: 59.26px;
  left: 1226px;
  top: 913px;
  cursor: pointer;

  background: #007D72;
  border-radius: 25px;

}

.mypageimg {
  position: absolute;
  left: 26.4px;
  top: 9.48px;
}

.setting {
  position: absolute;
  width: 96px;
  height: 59.26px;
  left: 20px;
  top: 915px;
  cursor: pointer;

  background: #007D72;
  border-radius: 50px;

}

.settingimg {
  position: absolute;
  left: 32px;
  top: 12px;
}

.onoffswitch {
  position: absolute;
  left: 1100px;
  top: 920px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(0, 125, 114, 1);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgba(0, 125, 114, 1);
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidebartop {
  position: absolute;
  width: 350px;
  height: 140px;
  left: 1370px;
  top: 40px;

  background: #CEC1A9;
  border-radius: 24px 24px 0px 0px;
}

.sidebartop .txt {

  position: absolute;
  width: 127px;
  height: 41px;
  left: 111px;
  top: 16px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;

  color: #736142;


}

.sidebartop .button {
  position: absolute;
  width: 160px;
  height: 35px;
  left: 9px;
  top: 92px;

  background: #FCF1DF;
  border-radius: 10px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #736142;

}

.sidebarbottom {
  display: flex;
  flex-direction: row;
  align-content: start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scrollbar-width: none; */

  position: absolute;
  width: 350px;
  height: 782px;
  left: 1370px;
  top: 175px;

  background: #FCF1DF;
  border: 5px solid #CEC1A9;
  box-sizing: border-box;
  border-radius: 0px 0px 25px 25px;

}

.agentmessage {
  display: flex;
  flex-direction: row;
  width: 326px;
  height: 60px;
  margin-top: 15px;
  background: #FFFFFF;
  border-radius: 20px;
}

.agentmessage .bar2 {
  /*position: absolute;*/
  width: 2px;
  height: 60px;
  margin-left: 14px;
  background-image: url(./img/bar.png);
}

.agentmessage .bar1 {
  /*position: absolute;*/
  width: 2px;
  height: 60px;
  margin-left: 16px;
  background-image: url(./img/bar.png);
}

.agentmessage .postureimage {
  width: 60px;
  height: 58.13px;
  margin-left: 14px;
  margin-top: 1px;
  background-image: url(./img/posture.png);
}

.agentmessage .sleepimage {
  width: 50px;
  height: 40.73px;
  margin-left: 22px;
  margin-top: 12px;
  background-image: url(./img/sleep.png);
}

.agentmessage .fireimage {
  width: 50px;
  height: 45px;
  margin-left: 22px;
  margin-top: 7.5px;
  background-image: url(./img/fire.png);
}

.agentmessage .speekimage {
  width: 50px;
  height: 45px;
  margin-left: 22px;
  margin-top: 7.5px;
  background-image: url(./img/speek.png);
}

.agentmessage .txt {
  margin-left: 24px;
  margin-top: 17px;
  width: 250px;
  height: 25px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #736142;
}

.speekbadgemessage {
  position: relative;
  margin-top: 10px;
  width: 328px;
  height: 80px;
  background-image: url(./img/speekbadgemessage.png);
}

.firebadgemessage {
  position: relative;
  margin-top: 10px;
  width: 328px;
  height: 80px;
  background-image: url(./img/firebadgemessage.png);
}

.eyebadgemessage {
  position: relative;
  margin-top: 10px;
  width: 328px;
  height: 80px;
  background-image: url(./img/eyebadgemessage.png);
}

.fistbadgemessage {
  position: relative;
  margin-top: 10px;
  width: 328px;
  height: 80px;
  background-image: url(./img/fistbadgemessage.png);
}

.message {
  width: 300px;
  height: 25px;
  margin-left: 85px;
  margin-top: 30px;

  font-family: Noto Sans;
  font-style: bold;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;

  color: #736142;
}

.bluemessage {
  font-weight: 600;
  font-size: 18px;
  color: #0072DB;
}

.greenmessage {
  font-weight: 600;
  font-size: 18px;
  color: #11A300;
}

.yellowmessage {
  font-weight: 600;
  font-size: 18px;
  color: #FF9D2B;
}

.redmessage {
  font-weight: 600;
  font-size: 18px;
  color: #FF3D00;
}

.enterbutton_upperword {
  position: absolute;
  width: 375px;
  height: 48px;
  left: 702px;
  top: 357px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;

  color: #FFFFFF;
}

.enterbutton {
  position: absolute;
  width: 450px;
  height: 150px;
  left: 665px;
  top: 445px;

  background: #15C2B2;
  border-radius: 15px;
  cursor: pointer;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 145px;
  text-align: center;

  color: #FFFFFF;
}

.stdnameinput {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 715px;
  top: 620px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.firstoptionword {
  position: absolute;
  width: 69px;
  height: 18px;
  left: 490px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}

.secondoptionword {
  position: absolute;
  width: 47px;
  height: 18px;
  left: 585px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #15C2B2;
}

.thirdoptionword {
  position: absolute;
  width: 47px;
  height: 18px;
  left: 670px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}

.fourthoptionword {
  position: absolute;
  width: 32px;
  height: 18px;
  left: 760px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #15C2B2;
}
.fifthoptionword {
  position: absolute;
  width: 32px;
  height: 18px;
  left: 843px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}
.gaugeoptionword {
  position: absolute;
  width: 100px;
  height: 18px;
  left: 1103px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}
.mypageoptionword {
  position: absolute;
  width: 100px;
  height: 18px;
  left: 1237px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}
.settingoptionword {
  position: absolute;
  width: 60px;
  height: 18px;
  left: 52px;
  top: 980px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #15C2B2;
}

@font-face {
  font-family: 'BDCartoonShoutRegular';
  src: url('pacman/BD_Cartoon_Shout-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content {
  position: fixed;
  /* display: none; */
  top: 18%;
  right: 13%;
  width: 15%;
  text-align: center;
  padding-bottom: 32px;
  padding-top: 16px;
}

#pacman {
  height: 450px;
  width: 342px;
  display: inline-block;
}

.start {
  display: block;
  width: 100px;
  padding: 8px;
  font-size: 20px;
  margin-top: 2%;
  cursor: pointer;
  font-family: BDCartoonShoutRegular;
  background-color: red;
  border-color: red;
  color: white;
  display: none;
}

#headControlsCanvas {
  position: fixed;
  left: 305px;
  top: 66px;
  border-radius: 10px;
}

#arCanvas {
  flex: 0 1 auto;
  position: fixed;
  left: 305px;
  top: 66px;
  width: 295.37px;
  height: 183.64px;
  border-radius: 10px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#gaming {
  position: fixed;
  left: 10%;
  top: 10%;
  background: white;
  text-align: center;
  width: 190px;
  height: 122px;
  border: 3px solid orange;
  border-radius: 8px;
}

#pacman_picture {
  width: 60px;
  height: 60px;
  margin: 13px;
}

#pacman_mob_picture {
  width: 70px;
  height: 70px;
  margin: 8px;
}

#pacman_text {
  color: black;
  font-weight: bold;
}
.containers {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 300px);
}

.container {
  display: flex;
}

.vid {
  flex: 0 1 auto;
  height: 400px;
}

.settings {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

.controlBox {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
}

#arEffect{
  position: fixed;
  /* display: none; */
  top: 0%;
}

#modal1 {
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 10;
  top: 50px;
  margin: 0px;
  padding: 0px;
}
#modal2 {
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 10;
  top: 50px;
  left : 200px;
  margin: 0px;
  padding: 0px;
}
.modal_left {
  width: 43%;
  height: 870px;
  padding: 0;
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal_right {
  width: 43%;
  height: 870px;
  padding: 0;
  background: #fff;
  border: 2px solid black;
  margin-left: 50px;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal_mypage {
  width: 65%;
  height: 900px;
  padding: 0;
  background: #fff;
  border: 2px solid black;
  margin-left: 100px;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #eaecf4;
  border-radius: 0.35rem;
}
.progress-agent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #FFB800;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-agent1-noborder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #FFB800;
  transition: width 0.6s ease; 
  border-radius : 2px;      
}
.progress-agent2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #179CC6;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-agent2-noborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #179CC6;
  transition: width 0.6s ease;        
}
.progress-agent3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #BE6BFF;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-agent3-noborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #BE6BFF;
  transition: width 0.6s ease;
}
.progress-agent4-noborder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #9ADD65;
  transition: width 0.6s ease;
}


.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #ffb800;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #3772e4;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 10px;
}
.progress-bar-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #66ccdd;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #ff6a8e;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #c9559a;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: red;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-yellow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: orange;
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(0, 189, 0);
  border: solid #000000 2px;
  transition: width 0.6s ease;
  border-radius: 15px;
}
.progress-bar-0 {
  display: flex;
  height: 0px;
  width: 0px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  transition: width 0.6s ease;
  border-radius: 15px;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.progress-border_2 {
  position: relative;
  z-index: 1;
  display: flex;
  height: 4rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.progress-border_log {
  position: relative;
  z-index: 1;
  display: flex;
  height: 4rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 15px;
}

.agent_progress {
  position: relative;
  z-index: 1;
  display: flex;
  height: 4rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-left: 20px;
}
.agent_progress_last {
  position: relative;
  z-index: 1;
  display: flex;
  height: 4rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: 20px;
}
.chart-area {
  position: relative;
  height: 10rem;
  width: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}
.log_nav {
  width: 100%;
  height: 75px;
  background-color: #fd9535;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}
.agent_nav {
  width: 100%;
  height: 75px;
  background-color: #15c2b2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}
.log_nav_text {
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}
.log_nav_text_sm {
  font-size: 15px;
  font-weight: bold;        
  padding-left: 15px;
  padding-top: 5px;
}
.log_block1 {
  background-color: #f6b220;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.log_block2 {
  background-color: #4b99d5;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.log_block3 {
  background-color: #7d4eda;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.log_person {
  display: none;
  width: 98.5%;
  height: 150px;
  margin-top: 20px;
  border: 5px solid #dadada;
  border-radius: 10px;
}
.log_person_me {
  display: none;
  width: 98.5%;
  height: 150px;
  margin-top: 20px;
  border: 5px solid #FD9535;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(80, 38, 0, 0.25);
}
.agent_block1 {
  margin-left: 30px;
  margin-top: 30px;
  width: 350px;
  border-radius: 10px;
  height: 65px;
  background-color: #ffac52;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.stu_log1 {
  position: absolute;
  top: 10.8%;
  left: 24%;
  width: 240px;
  height: 80px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #15c2b2;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: #13a99b;
  color: white;
  font-size: 30px;
}
.stu_log2 {
  position: absolute;
  top: 10.8%;
  left: 34%;
  width: 240px;
  height: 80px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #15c2b2;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: #8dd8d1;
  color: white;
  font-size: 30px;
}
.stu_log3 {
  position: absolute;
  top:10.8%;
  left: 44%;
  width: 240px;
  height: 80px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #15c2b2;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: #8dd8d1;
  color: white;
  font-size: 30px;
}
#mypage_background1 {
  display: block;
  width: 1000px;
  height: 700px;
  margin-top: 100px;
  margin-left: 120px;
  background-color: #faf3e8;
}
#mypage_background2 {
  display: none;
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 120px;
  background-color: #faf3e8;
}
#mypage_background3 {
  display: none;
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 120px;
  background-color: #faf3e8;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop_button {
  font-size: 20px;
  width: 300px;
  background-color: #15c2b2;
  color: black;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
}
.drop-content {
  position: absolute;
  font-size: 20px;
  width: 300px;
  background-color: #15c2b2;
  color: black;
  margin-left: 50px;
  border: 1px solid black;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  overflow: auto;
  height:200px;
}
.drop-content a {
  display: block;
  font-size: 20px;
  background-color: #15c2b2;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  margin: 2px 0px 0px 0px;
  padding: 2px;
}
.progress_text {
  font-size: 20px;
  align-self: center;
  color: black;
  font-weight: bold;
}
.agent_bar {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  margin-top: 20px;
}
.green_block {
  width: 25px;
  height: 25px;
  background-color: #10c600;
  border-radius: 5px;
}
.yello_block {
  width: 25px;
  height: 25px;
  background-color: #ffc700;
  border-radius: 5px;
}
.red_block {
  width: 25px;
  height: 25px;
  background-color: #ff2e00;
  border-radius: 5px;
}
.ranking_block {
  width: 95%;
  height: 90px;
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}
.weekly_ranking {
  text-align: center;
  margin-top: 15px;
  font-size: 50px;
  font-weight: bold;
  color: #535353;
}
.ranking_text1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  color: #535353;
  font-weight: bold;
}
.ranking_name {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;       
}
.ranking_score_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  font-weight: bold;
  font-size: 20px;        
}
.log_name {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.flex_100 {
  flex-direction: column;
  align-self: center;
  margin-left: 0px;
}
.bold_top5 {
  font-weight: bold;
  margin-top: 5px;
}
.log_progress {
  width: 88%;
  margin-left: 10px;
  position: relative;
  z-index: 1;
}
.log_left {
  width: 400px;
  position: relative;
  z-index: 1;
  align-self: center;
  margin-top: 10px;
}

.log_progress_set {
  display: flex;
  margin-top: 25px;
  position: relative;
  z-index: 1;
}
.log_block_text {
  align-self: center;
  margin-left: 5px;
  color: black;
}
.log_agent {
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
}
.pro_avg_text {
  line-height: 45px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.circle_progress_wrap {
  position: relative;
  width: 120px;
  height: 120px;
}
.circle_progress {
  transform: rotate(-90deg);
}
.frame,
.bar {
  fill: none;
}
.frame {
  stroke: #e6e6e6;
}
.bar {
  stroke: #03c75a;
  stroke-linecap: round;
}   
.value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #888;
  font-size: 16px;
  line-height: 120px;
}

.circle_pos {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}
.badge_font1{
  color : #736142;font-size: 30px;padding-top: 15px;padding-left: 10px;font-weight: bold;
}
.badge_text{
  font-size: 20px;margin-top : 70px;margin-left: 20px;font-size: 20px;font-weight: bold;
}
.log_name_text{
  text-align: center; font-size: 25px; font-weight: bold;
}
.same_img{
  width: 6%;margin-left: 15px;margin-left: 180px;
}
.up_img{
  width: 3.3%; height : 70%;margin-top: 15px;margin-left: 170px;margin-top: 15px;
}
.down_img{
  width: 4%; height : 75%;margin-top: 15px;margin-left: 170px;margin-top: 15px;
}
.rank_up_text{
    color: #E35644;
    font-size: 55px;
    font-weight: bold;
    margin-top: 5px;
}
.rank_down_text{
  color : #2BB3B9;
  font-size: 55px;
  font-weight: bold;
  margin-top: 5px;
}